* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  background: #B1CDD1;
  min-height: 100vh;
  margin: 0; }

.header-title {
  text-align: center;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 2.6em;
  color: #3355FF; }
