a(href="#").header-logo-link
  img(src="#{logoPath}").header-logo-img

nav.header-menu
  ul.header-menu__list
    li.header-menu__item
      a(href="#") Inicio
    li.header-menu__item
      a(href="#") Compras
    li.header-menu__item 
      a(href="#") Ventas
    li.header-menu__item 
      a(href="#") Perfil
    li.header-menu__item 
      a(href="#") Configuración