block config 
  include ../config/variables

<!DOCTYPE html>
html(lang="es")
  head
    meta(charset="UTF-8")
    title #{title}
    meta(name="description" content="")
    link(rel="icon" href="#{logoPath}")
    link(rel="stylesheet" href="css/#{stylesheet}")
  body
    header.header-container
      block header
    main.main-container
      block main
    aside.aside-container 
      block aside
    footer.footer-container 
      block footer


